extends layout

block content
	h1= title
	if userList
		ul
			each user in userList
				li: a(href='/user/'+ user._id) #{user._id} - #{user.firstName} - #{user.name}
	else if error
		p Error Code : #{error.code}
		p Error Message : #{error.message}